[Unit]
Description=Run NetGuardAutomator route verifier every 5 minutes

[Timer]
OnBootSec=4min
OnUnitActiveSec=5min
Unit=netguard-route-verifier.service

[Install]
WantedBy=timers.target
